**__pycache__
.vscode
.polyscope.ini

runs/
external/
wandb/
outputs/
eval/
extra_info/
FullCircle/

debug_**

utils/ngc/grid_search_configs

imgui.ini
data/

thirdparty/simple-knn/build
thirdparty/simple-knn/dist
thirdparty/simple-knn/simple_knn.egg-info

threedgrt_tracer/.ninja_log
threedgrt_tracer/include/3dgrt/kernels/slang/*.cuh*
*.egg-info
.idea

grid_search

libs/
results/
thirdparty/ncore/

playground/assets/
