**__pycache__
.vscode
.polyscope.ini
.idea
imgui.ini

*.ply
runs/
eval/

data/
yolov8s.pt

debug_**
grid_search
utils/ngc/grid_search_configs
libs/
extra/

*.egg-info
thirdparty/simple-knn/build
thirdparty/simple-knn/dist
thirdparty/simple-knn/simple_knn.egg-info
thirdparty/ncore/
threedgrt_tracer/.ninja_log
threedgrt_tracer/include/3dgrt/kernels/slang/*.cuh*

scripts/downsample.sh
scripts/masks_for_colmap/
scripts/run_masks_for_colmap.sh