pillow
plyfile
torchmetrics
tensorboard
fire
omegaconf
hydra-core
scikit-learn
wandb
addict
rich
slangtorch==1.3.18
# NeRF Dataset requirements
piexif
kornia
opencv-python<4.12.0  # because of our numpy<2.0 requirement
einops
imageio
msgpack
dataclasses_json
# JIT compilation
setuptools==78.1.1
# Fused-ssim
fused-ssim @ git+https://github.com/rahul-goel/fused-ssim@1272e21a282342e89537159e4bad508b19b34157
# Playground
tqdm
libigl
pygltflib
# --find-links https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.1.2_cu118.html
# kaolin==0.17.0
usd-core
